<div class="container" style="float:right; margin-top: 5%; text-align: left;">
<div class="card" style="width: 45rem;">
  <% if @user.image.file? %>
  <%= image_tag @user.image.url, :class => "img-fluid" %>
  <% else %>
  <%= image_tag 'missing.png', :size => "718x403" %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><strong><%= @user.username %></strong></h5>
    <p class="card-text"><%= @user.about %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Name: <%= @user.first_name %> <%= @user.last_name %></li>
    <li class="list-group-item">Birthday: <%= @user.birthday %></li>
    <li class="list-group-item">Location: <%= @user.location %></li>
    <li class="list-group-item">Email: <%= mail_to @user.email %></li>
  </ul>
</div>
</div>

